apiVersion: apps/v1
kind: Deployment
metadata:
  name: otms-db-deployment
  namespace: default
  labels:
    app: otms-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otms-db
  template:
    metadata:
      labels:
        app: otms-db
    spec:
      containers:
        - name: otms-db
          image: mysql:8.0.34
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: otms-vol
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: otms-db-config
                  key: MYSQL_ROOT_PASSWORD
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: otms-db-config
                  key: MYSQL_DATABASE
      volumes:
        - name: otms-vol
          persistentVolumeClaim:
            claimName: otms-db-pvc

---

apiVersion: v1
kind: Service
metadata:
  name: otms-db-service
  namespace: default
spec:
  selector:
    app: otms-db
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
