apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: otms-db-pvc
  namespace: default
spec:
  volumeName: otms-db-pv
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi